html, body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

header{
    width: 502px;
    border-bottom: 2px solid rgb(70, 70, 70);    
    margin: 0 auto;
}

.topseciton{    
    margin-bottom: 20px;
}

.instaicon{
    width: 150px;    
}
.avatar{
    width: 60px;
    border-radius: 50%;
    float: right;
    margin: 10px 20px;
}


.postcard{   
    border: 1px solid rgb(119, 119, 119);
    width: 500px;
    margin: 0px auto 20px auto;
}

.post{
    width: 500px; 
    margin-bottom: 20px;
    
}

.postinfo{
    display: flex;
    align-items: center;     
    justify-content: start;     
    
}

.btn{
    width: 35px;
    margin-right: 20px;
    
}

.icons,
#username, 
#likes{
    margin: 10px 0px 10px 10px;
}

h3{
    font-size: 20px;
    margin: 0;
}

p{
    font-size: 20px;
    margin-top: 0;
}


